<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>Instagram</string>
		<string>Youtube</string>
		<string>Tiktok</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Inorder to notify the usage duration of the apps to user</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
